1ºDAM/Restos_1_DAM/practica.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="productosfinancieros" type="tipoProductosFinancieros"/>
    <xsd:complexType name="tipoProductosFinancieros">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="producto" type="tipoProducto" minOccurs="5" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoProducto">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:choice>
                    <xsd:element name="bono" type="tipoBono" minOccurs="2" maxOccurs="unbounded"/>
                    <xsd:element name="futuro" type="tipoFuturo" minOccurs="2" maxOccurs="unbounded"/>
                    <xsd:element name="acciones" type="tipoAcciones" minOccurs="2" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoBono">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                	<xsd:element name="valorcompra" type="tipoValor" />
                    <xsd:element name="valoractual" type="tipoValor" />
                    <xsd:element name="beneficio" type="tipoBeneficio" />
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoValor">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="moneda" type="tipoMoneda"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoMoneda">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="dolares"/>
            <xsd:enumeration value="euros"/>
            <xsd:enumeration value="yenes"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoBeneficio">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="tipoFuturo">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="elemento" type="tipoElemento"/>
                    <xsd:element name="beneficio" type="tipoBeneficio"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoElemento">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="idioma" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tipoAcciones">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="empresa" type="tipoEmpresa" maxOccurs="1"/>
                    <xsd:element name="beneficio" type="tipoBeneficio" minOccurs="3" maxOccurs="3"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoEmpresa">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="pais" type="tipoPais"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoPais">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="alemania"/>
            <xsd:enumeration value="japon"/>
            <xsd:enumeration value="espania"/>
            <xsd:enumeration value="usa"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>